* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
  color: #f4f4f4;
}

header,
footer {
  display: flex;
  align-items: center;
  height: 50px;
}

header {
  padding-left: 15px;
  height: 80px;
}

.logo {
  display: block;
  margin: 350px auto 110px auto;
  max-width: fit-content;
  width: 400px;
  height: auto;

}

main {
  flex-grow: 1;
}

section#champions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 250px auto 0 auto;
  width: 1500px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  margin: 5px;
  /* border: 3px solid #333; */
}

img {
  width: 300px;
  height: 300px;
  margin: 20px;
  object-fit: cover
    /* max-width: 100%; */

}

footer {
  justify-content: center;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3)
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 5px
}

.col-1 p {
  margin: 0 38px;
}

.col-1 * {
  margin-bottom: 14px;
}


article.modal {
  background: transparent;
  padding: 0;
  color: #f4f4f4;
}