* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #000; */
}

header,
footer {
  display: flex;
  align-items: center;
  height: 50px;
}

header {
  padding-left: 15px;
  height: 80px;
  color: #f4f4f4;
  /* box-shadow: 5px 10px 18px #808080; */
}

.logo {
  display: block;
  margin: 280px auto 100px auto;
  max-width: fit-content;
  width: 50%;

}

main {
  flex-grow: 1;
}

section#champions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto 0 auto;
  width: 1500px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: flex-end;
  padding: 3px;
  width: 250px;
  height: 300px;
  margin: 15px;
  border-radius: 7px;
  border: 3px solid #000;
}

footer {
  justify-content: center;
  color: #333;
}